<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="LayoutPadrao.html">
<head>
    <title>Cadastro de Questionário</title>
</head>

<section layout:fragment="conteudo">
    <form class="form-horizontal" method="POST" th:action="@{/questionarios}" th:object="${questionario}">

        <div layout:insert="MensagemGeral"></div>
        <div layout:insert="MensagemErro"></div>


        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="clearfix">
                    <h1 class="panel-title cliente-panel">Novo Questionário</h1>
                    <a class="btn btn-link link-panel" th:href="@{/questionarios}">Voltar para pesquisa</a>
                </div>
                <h1 class="panel-title"></h1>
            </div>

            <div class="panel-body">
                <input type="hidden" th:field="*{id}"/>
                <div class="container">
                    <div class="row">
                        Você separa seu lixo utilizando a coleta seletiva?
                        <div class="form-check form-check-inline">
                            <input type="radio" id="coletaSeletiva_sim" name="coletaSeletiva_sim" class="custom-control-input" value="10"
                                   th:field="*{coletaSeletiva}">
                            <label class="custom-control-label" for="coletaSeletiva_sim">Sim</label>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="coletaSeletiva_nao" name="coletaSeletiva_nao" class="custom-control-input" value="-10"
                                       th:field="*{coletaSeletiva}">
                                <label class="custom-control-label" for="coletaSeletiva_nao">Não</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        Participa de campanhas ambientais contra produto químicos?
                        <div class="form-check form-check-inline">
                            <input type="radio" id="campanhaContraPoluicao_sim" name="campanhaContraPoluicao_sim" class="custom-control-input" value="10"
                                   th:field="*{campanhaContraPoluicao}">
                            <label class="custom-control-label" for="campanhaContraPoluicao_sim">Sim</label>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="campanhaContraPoluicao_nao" name="campanhaContraPoluicao_nao" class="custom-control-input" value="-10"
                                       th:field="*{campanhaContraPoluicao}">
                                <label class="custom-control-label" for="campanhaContraPoluicao_nao">Não</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <p>"Participa de ações de reflorestamento?"</p>
                        <div class="form-check form-check-inline">
                            <input type="radio" id="campanhaReflorestamento_sim" name="campanhaReflorestamento_sim" class="custom-control-input" value="10"
                                   th:field="*{campanhaReflorestamento}">
                            <label class="custom-control-label" for="campanhaReflorestamento_sim">Sim</label>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="campanhaReflorestamento_nao" name="option2" class="custom-control-input" value="-10"
                                       th:field="*{campanhaReflorestamento}">
                                <label class="custom-control-label" for="campanhaReflorestamento_nao">Não</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        Você realiza econimia no consumo de água?
                        <div class="form-check form-check-inline">
                            <input type="radio" id="consumoDeAgua_sim" name="consumoDeAgua_sim" class="custom-control-input" value="10"
                                   th:field="*{consumoDeAgua}">
                            <label class="custom-control-label" for="consumoDeAgua_sim">Sim</label>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="consumoDeAgua_nao" name="consumoDeAgua_nao" class="custom-control-input" value="-10"
                                       th:field="*{consumoDeAgua}">
                                <label class="custom-control-label" for="consumoDeAgua_nao">Não</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        você ainda utiliza sacolas plásticas?
                        <div class="form-check form-check-inline">
                            <input type="radio" id="utilizaSacolaPlastica_sim" name="utilizaSacolaPlastica_sim" class="custom-control-input" value="10"
                                   th:field="*{utilizaSacolaPlastica}">
                            <label class="custom-control-label" for="utilizaSacolaPlastica_sim">Sim</label>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="utilizaSacolaPlastica_nao" name="utilizaSacolaPlastica_nao" class="custom-control-input" value="-10"
                                       th:field="*{utilizaSacolaPlastica}">
                                <label class="custom-control-label" for="utilizaSacolaPlastica_nao">Não</label>
                            </div>
                        </div>
                </div><!-- Final do Container -->
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>
</section>
</html>
