<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="LayoutPadrao.html">
<head>
    <title>Cadastro de Questionário</title>
</head>

<section layout:fragment="conteudo">
    <form class="form-horizontal" method="POST" th:action="@{/questionarios}" th:object="${questionario}">

        <div layout:insert="MensagemGeral"></div>
        <div layout:insert="MensagemErro"></div>


        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="clearfix">
                    <h1 class="panel-title cliente-panel">Novo Questionário</h1>
                    <a class="btn btn-link link-panel" th:href="@{/questionarios}">Voltar para pesquisa</a>
                </div>
                <h1 class="panel-title"></h1>
            </div>

            <div class="panel-body">
                <input type="hidden" th:field="*{id}"/>
                <div class="container">
                    <div class="row">
                        Você separa seu lixo utilizando a coleta seletiva?
                        <div class="form-check form-check-inline">
                            <input type="radio" id="coletaSeletiva_sim" name="coletaSeletiva_sim" class="custom-control-input" value="10"
                                   th:field="*{coletaSeletiva}">
                            <label class="custom-control-label" for="coletaSeletiva_sim">Sim</label>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="coletaSeletiva_nao" name="coletaSeletiva_nao" class="custom-control-input" value="-10"
                                       th:field="*{coletaSeletiva}">
                                <label class="custom-control-label" for="coletaSeletiva_nao">Não</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        Você separa seu lixo utilizando a coleta seletiva?
                        <div class="form-check form-check-inline">
                            <input type="radio" id="option1" name="option1" class="custom-control-input" value="10"
                                   th:field="*{coletaSeletiva}">
                            <label class="custom-control-label" for="option1">Sim</label>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="option2" name="option2" class="custom-control-input" value="-10"
                                       th:field="*{coletaSeletiva}">
                                <label class="custom-control-label" for="option2">Não</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        Você separa seu lixo utilizando a coleta seletiva?
                        <div class="form-check form-check-inline">
                            <input type="radio" id="option1" name="option1" class="custom-control-input" value="10"
                                   th:field="*{coletaSeletiva}">
                            <label class="custom-control-label" for="option1">Sim</label>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="option2" name="option2" class="custom-control-input" value="-10"
                                       th:field="*{coletaSeletiva}">
                                <label class="custom-control-label" for="option2">Não</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        Você separa seu lixo utilizando a coleta seletiva?
                        <div class="form-check form-check-inline">
                            <input type="radio" id="option1" name="option1" class="custom-control-input" value="10"
                                   th:field="*{coletaSeletiva}">
                            <label class="custom-control-label" for="option1">Sim</label>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="option2" name="option2" class="custom-control-input" value="-10"
                                       th:field="*{coletaSeletiva}">
                                <label class="custom-control-label" for="option2">Não</label>
                            </div>
                        </div>
                    </div>
                </div><!-- Final do Container -->
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
</html>
