<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="LayoutPadrao.html">
    
<head>
	<title>Pesquisa de Clientes</title>
</head>

<section layout:fragment="conteudo">
<div layout:insert="MensagemGeral"></div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="clearfix">
	   			<h1 class="panel-title titulo-panel ">Pesquisa de Questionários</h1>
                <a class="btn btn-link link-panel" th:href="@{/questionarios/novo}">Novo Questionário</a>
	   		</div>
	   	</div>
	   	
	   	<div class="panel-body" >
	   	<form method="GET" class="form-horizontal" th:action="@{/questionarios}" th:object="${filtro}">
	   			<div class="form-group">
	   				<div class="col-sm-4">
	   					<div class="input-group">
	   						<input class="form-control" placeholder="Qual Questionário você está procurando?"
	   							autofocus="autofocus" th:field="*{id}"></input>
	   						<span class="input-group-btn">
	   							<button type="submit" class="btn btn-default">
	   								<i class="glyphicon glyphicon-search"></i>
	   							</button>
	   						</span>
	   					</div>
	   				</div>
	   			</div>
	   		</form>
	   	<table class="table table-striped table-bordered datatable display tabela_filter">
      			<thead>
      			
      				<tr>
      					<th class="text-center col-md-1">#</th>
      					<th class="text-center col-md-2">Nome</th>
						<th class="text-center col-md-3">Média</th>
						<th class="text-center col-md-3">Status</th>
      				</tr>
      			</thead>
      			<tbody>
      				<tr th:each="questionario : ${questionarios}">
      					<td class="text-center" th:text="${questionario.id}"></td>
      					<td class="text-center" th:text="${questionario.cliente.nome}"></td>
						<td class="text-center" th:text="${questionario.media}"></td>
						<td class="text-center">
      						<span th:text="${questionario.status.descricao}" class="text"
								  th:classappend="${questionario.aprovado ? 'text-success' : 'text-danger'}"></span>
						</td>
      				</tr>
      				<tr th:if="${#lists.isEmpty(questionarios)}">
      					<td colspan="9">Nenhum questionário foi encontrado</td>
      				</tr>
      			</tbody>
      		</table>
	   	</div>
	   	<div layout:include="DialogoConfirmacaoExclusao"></div>
	</div>
</section>

</html>
