<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="LayoutPadrao.html">

<head>
	<title>Projeto Esperança</title>
</head>

<!--<section layout:fragment="Questionario">
	<form class="form-horizontal" method="POST" th:action="@{/Questionario}" th:object="${Questionario}">

		<body>

			<h1 class="text-center">Questionário Ambiental</h1>
			<p class="text-center">Questionário para entender a sua contribuição para o meu ambiente.</p>

			<div class="container" , "card">
				<div class="navbar-nav">
					<a class="nav-item nav-link" href="/home">Menu Pricinpal</a>
				</div>
				<div class="container" , "card">

					<div class="card-header">
						<form action="/action_page.php">
							<p>Separa o lixo? Ou melhor, faz coleta seletiva?</p>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="inlineRadioOptions1"
									id="inlineRadio1" value="option1">
								<label class="form-check-label" for="inlineRadio1">SIM</label>
							</div>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="inlineRadioOptions2"
									id="inlineRadio2" value="option2">
								<label class="form-check-label" for="inlineRadio2">NÃO</label>
							</div>


							<p>Participar de campanhas de boicote a produtos de empresas que poluem o meio ambiente?</p>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="inlineRadioOptions3"
									id="inlineRadio3" value="option1">
								<label class="form-check-label" for="inlineRadio1">SIM</label>
							</div>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="inlineRadioOptions4"
									id="inlineRadio4" value="option2">
								<label class="form-check-label" for="inlineRadio2">NÃO</label>
							</div>

							<p>Participa pelo menos um dia por mês, de um mutirão de reflorestamento ou limpeza de rios
								e
								córregos? </p>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="inlineRadioOptions5"
									id="inlineRadio5" value="option1">
								<label class="form-check-label" for="inlineRadio1">SIM</label>
							</div>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="inlineRadioOptions6"
									id="inlineRadio6" value="option2">
								<label class="form-check-label" for="inlineRadio2">NÃO</label>
							</div>

							<p>Você busca economizar o consumo de água? </p>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="inlineRadioOptions7"
									id="inlineRadio7" value="option1">
								<label class="form-check-label" for="inlineRadio1">SIM</label>
							</div>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="inlineRadioOptions8"
									id="inlineRadio8" value="option2">
								<label class="form-check-label" for="inlineRadio2">NÃO</label>
							</div>
							<p>Havendo possibilidade, considera importante e faz uso de energia solar e energia eólica?
							</p>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="inlineRadioOptions9"
									id="inlineRadio9" value="option1">
								<label class="form-check-label" for="inlineRadio1">SIM</label>
							</div>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="inlineRadioOptions10"
									id="inlineRadio10" value="option2">
								<label class="form-check-label" for="inlineRadio2">NÃO</label>
							</div>
					</div>

					<div class="d-grid gap-2 col-6 mx-auto">
						<button class="btn btn-primary" type="button">Enviar</button>
					</div>
				</div>
		</body>-->
	</form>
</section>

</html>